<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cycle shop">
        <meta name="author" content="Kris Bulté">
        <title>Joe cycles</title>
        
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- endbower -->
        
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/lib/wow/css/libs/animate.css" type="text/css">
        
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/icomoonstyle.css">
        <link rel="stylesheet" href="/css/style.css">
        <!-- endinject -->
        
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/wow/dist/wow.js"></script>
        <script src="/lib/jquery.easing/js/jquery.easing.js"></script>
        <!-- endbower -->
        
    </head>

    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Joe Cycles</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">About</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Service</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#highlight">Fietsen</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

       <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Groot in kleinschaligheid</h1>
                    <hr>
                    <p></p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </header>
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Wie ben ik?</h2>
                        <hr class="light">
                        <p class="text-faded">Zelf een gepassioneerd fietser met voorkeur van moutainbikes en trekking-adventure tochten. 
                            Maar ook de koersfiets mijd ik niet.</p>
                        <p class="text-faded">Passie voor mechanica:de eerste fiets die ik uit elkaar haalde was een “van hoof” fiets. Een fiets van mijn grootvader zijn nonkel die nog fietsen zelf aan elkaar laste met koperen lugs! 
                            Dit was 40 jaar geleden,het zit dus waarschijnlijk nog in mijn bloed.</p>
                        <p class="text-faded">opleidingen en diploma’s:</p>
                            <p class="text-faded">Fietsvakhandelaar</p>
                            <p class="text-faded">Fietstechnicus</p>
                            <p class="text-faded">Bedrijfsbeheer</p>
                            <p class="text-faded">Bikefit level 1: opleiding gegeven door Paul Swift en Innovative Cycling</p>
                            <p class="text-faded">Fox technical training basis opleiding verende voorvorken</p>
                       <p class="text-faded">Op regelmatige basis blijf ik opleidingen volgen om de evolutie in fietswereld bij te blijven en de opgedane kennis toe te passen</p>
                       <!--a href="#" class="btn btn-default btn-xl">Get Started!</a -->
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Ik lever volgende diensten</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-wrench wow bounceIn text-primary"></i>
                            <h3>Algemene onderhoud</h3>
                            <p class="text-muted">Van eenvoudig tot complexe herstellingen.De werkzaamheden worden met zorg uitgevoerd,er wordt gebruik gemaakt van de juiste smeermiddelen en grondstoffen.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-5x icon-wheel wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Wielenbouw</h3>
                            <p class="text-muted">Ik bouw wielen op maat volgens de wensen van de klant.Hier kan gekozen worden voor comfort- performance -sterkte –strakheid-kleur-design .er wordt alleen gewerkt met kwaliteitsonderdelen zoals o.a DT SWISS en SAPIM
                                Een handgespaakt wiel heeft tal van voordelen tegenover een fabriekswiel:een goed wiel heeft spaakspanningen die weinig van elkaar afwijken .fabriekswielen pronken waak met getallen zoals hoge spaakspanningen .</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-5x icon-bicycle_frame wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Volledige opbouw</h3>
                            <p class="text-muted">Volledige opbouw van een naakt kader bij bvb herschildering met onderdelen naar keuze.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-stats-dots wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Bikefitting</h3>
                            <p class="text-muted">You have to make your websites with love these days!</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section class="no-padding" id="highlight">
            <div class="container-fluid">
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike2.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike3.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike4.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike5.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike1.jpg" class="img-responsive" alt="">
                            <div class="portfolio-box-caption">
                                <div class="portfolio-box-caption-content">
                                    <div class="project-category text-faded">
                                        Category
                                    </div>
                                    <div class="project-name">
                                        Project Name
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </section>

        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h3>Een verzorgde open werkruimte met alleen de beste materialen. Ik werk hoofdzakelijk met VAR TOOLS. De rolls royce onder het fietsgereedschap gekenmerkt door zijn grote precisie en volledig gamma.Voldoet aan de meeste moderne standaarden</h3>
                    <a href="http://www.vartools.com/fr/index.php">
                        <img src="../img/varlogo.png" alt="VarTools">
                    </a>
                </div>
            </div>
        </aside>

        <section id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div id="map"></div>
                </div>
            </div>
        </section>
        
        <!-- inject:js -->
        <script src="/js/jquery.fittext.js"></script>
        <script src="/js/zInit.js"></script>
        <!-- endinject -->
        
    </body>
    
    <script type="text/javascript">
            var myLatLng = {lat: 50.746327, lng: 4.255349}
               
            function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                center: myLatLng,
                zoom: 15
                });
                                    
                var marker = new google.maps.Marker({
                                map: map,
                                position: myLatLng
                });
            }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</html>
