<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Cycle shop">
        <meta name="author" content="Kris Bulté">
        <title>Joe cycles</title>
        
        <!-- bower:css -->
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
        <!-- endbower -->
        
        <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
        <link rel="stylesheet" href="/lib/wow/css/libs/animate.css" type="text/css">
        
        <!-- inject:css -->
        <link rel="stylesheet" href="/css/icomoonstyle.css">
        <link rel="stylesheet" href="/css/style.css">
        <!-- endinject -->
        
        <!-- bower:js -->
        <script src="/lib/jquery/dist/jquery.js"></script>
        <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
        <script src="/lib/wow/dist/wow.js"></script>
        <script src="/lib/jquery.easing/js/jquery.easing.js"></script>
        <!-- endbower -->
        
    </head>

    <body id="page-top">
        <nav id="mainNav" class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="#page-top">Joe Cycles</a>
                </div>

                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav navbar-right">
                        <li>
                            <a class="page-scroll" href="#home">Home</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#about">Joe Cycles</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#services">Service</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#highlight">Werkruimte</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="#contact">Contact</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container-fluid -->
        </nav>

       <header>
            <div class="header-content">
                <div class="header-content-inner">
                    <h1>Alle fietsherstellingen</h1>
                    <h2>Kleinschalig persoonlijk</h2>
                    <hr>
                    <p></p>
                    <a href="#about" class="btn btn-primary btn-xl page-scroll">Find Out More</a>
                </div>
            </div>
        </header>
        <section class="bg-primary" id="about">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-lg-offset-2 text-center">
                        <h2 class="section-heading">Wie ben ik?</h2>
                        <hr class="light">
                         <p class="text-faded">Ligging: weg van de drukte in een groene omgeving, kort bij stad Halle en autosnelweg E40.</p>
                        <p class="text-faded">Gepassioneerd fietser met liefde voor moutainbikes en trekking-adventure tochten. 
                            Maar ook de koersfiets mijd ik niet.</p>
                        <p class="text-faded">Passie voor mechanica meer dan 40 jaar.</p>
                        <p class="text-faded">Gevolgde opleidingen:</p>
                            <p class="text-faded">Fietsvakhandelaar</p>
                            <p class="text-faded">Fietstechnicus</p>
                            <p class="text-faded">Bikefit level 1</p>
                            <p class="text-faded">Fox technical training basis opleiding van veersystemen</p>
                       <p class="text-faded">Persoonlijk advies: of het nu gaat over de bepaling van een fietsmaat of de keuze van een wiel, bij mij kan je terecht met al je vragen.</p>
                       <p class="text-faded">Op regelmatige basis blijf ik opleidingen volgen om de evolutie in fietswereld bij te blijven.</p>
                    </div>
                </div>
            </div>
        </section>

        <section id="services">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Ik lever volgende diensten</h2>
                        <hr class="primary">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-wrench wow bounceIn text-primary"></i>
                            <h3>Onderhoud en herstellingen</h3>
                            <p class="text-muted">Van eenvoudig tot complexe herstellingen met zorg uitgevoerd.</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-wheel wow bounceIn text-primary" data-wow-delay=".1s"></i>
                            <h3>Wielenbouw</h3>
                            <p class="text-muted">Met componenten van DT SWISS.</div>
                            <!-- a class="btn btn-primary" href="#">Lees verder</a -->
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-bicycle_frame wow bounceIn text-primary" data-wow-delay=".2s"></i>
                            <h3>Verende voorvorken</h3>
                            <p class="text-muted">Onderhoud en afstelling van Fox veersystemen.</p>
                            <!-- link naar fox veersystemen -->
                            <a class="btn btn-primary" href="#">Lees verder</a>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 text-center">
                        <div class="service-box">
                            <i class="fa fa-4x icon-stats-dots wow bounceIn text-primary" data-wow-delay=".3s"></i>
                            <h3>Bikefitting</h3>
                            <p class="text-muted">Voor het bepalen van de juiste fietsmaat of een betere houding op de fiets. Er wordt gewerkt met cyclefit meetsysteem.</p>
                            <!-- link naar cyclefit toevoegen -->
                            <a class="btn btn-primary" href="#">Link naar cyclefit</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- section class="no-padding" id="highlight">
            <div class="container-fluid">
                <div class="col-lg-12 text-center">
                        <h2 class="section-heading">Een greep uit ons aanbod</h2>
                        <hr class="primary">
                    </div>
                <div class="row no-gutter">
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike5.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike2.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike3.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike4.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike5.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <a href="#" class="portfolio-box">
                            <img src="img/aanbod/stevensbike1.jpg" class="img-responsive" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </section -->

        <aside class="bg-dark">
            <div class="container text-center">
                <div class="call-to-action">
                    <h3>Een verzorgde open werkruimte met alleen de beste materialen. Ik werk hoofdzakelijk met VAR TOOLS.</h3>
                    <a href="http://www.vartools.com/fr/index.php">
                        <img src="../img/varlogo.png" alt="VarTools">
                    </a>
                </div>
            </div>
        </aside>

        <section id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div id="map"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-muted">
                       
                    </div>
                    <div class="col-md-2">
                        <h3>Joe Cycles</h3>
                        Biezeput 58<br/>
                        Buizingen<br/>
                        0473/384 947<br/>
                        joe-cycles@telenet.be
                    </div>
                    <div class="col-md-2">
                        <h3>Openingsuren</h3>
                        <h4 class="text-primary">Open na 18u</h4>
                        <table>
                            <colgroup>
                                <col class="weekday" span="1">
                                <col class="openinghours" span="2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        Vandaag					</td>
                                    <td>
                                        09.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Morgen					</td>
                                    <td>
                                        09.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Zaterdag					</td>
                                    <td>
                                        09.00 tot 17.30 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Zondag					</td>
                                    <td>
                                        Gesloten
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Maandag					</td>
                                    <td>
                                        09.00 tot 19.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Dinsdag					</td>
                                    <td>
                                        09.00 tot 19.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Woensdag					</td>
                                    <td>
                                        09.00 tot 19.00 uur
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h3>Bekijk ook onze facebook pagina</h3>
                        <i class="fa fa-3x icon-facebook wow bounceIn text-primary" data-wow-delay=".1s"></i>
                        <!-- h3>Betalen</h3>
                        <p>Kan met bankterminal</p -->
                    </div>
                    <div class="col-md-2 text-muted">
                        
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12 copyright text-center">
                        2016 &copy; Joe cycles. All rights reserved.
                    </div>
                </div>
            </div>
        </section>
        
        <!-- inject:js -->
        <script src="/js/jquery.fittext.js"></script>
        <script src="/js/zInit.js"></script>
        <!-- endinject -->
        
    </body>
    
    <script type="text/javascript">
            var myLatLng = {lat: 50.746327, lng: 4.255349}
               
            function initMap() {
                var mapDiv = document.getElementById('map');
                var map = new google.maps.Map(mapDiv, {
                center: myLatLng,
                zoom: 15
                });
                                    
                var marker = new google.maps.Marker({
                                map: map,
                                position: myLatLng
                });
            }
    </script>
    <script src="https://maps.googleapis.com/maps/api/js?callback=initMap" async defer></script>
</html>
