<!DOCTYPE html>
<html lang="en">

    <% include ./partials/head %>

    <body>
        <div class="container main-content">
            <%if (locals.errors) { %>
                <% for(var i=0; i<errors.length; i++) { %>
                    <div class="alert alert-danger" role="alert">
                        <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                        <span class="sr-only">Error:</span>
                        <%= errors[i].msg %>
                    </div>
                <% } %>
            <% } %>
            
            <form  role="form" method="post" action="/stuur-een-mail">
                <legend class="question-form-header">Stel je vraag.</legend>
                <br/>
                <div class="form-group">
                    <input name="name" type="text" class="form-control" placeholder="Naam">
                </div>
                <div class="form-group">
                    <input name="email" type="text" class="form-control" placeholder="E-mail">
                </div>
                <div class="form-group">
                    <label for="question">vraag:</label>
                    <textarea name="question" class="form-control" rows="5" id="question"></textarea>
                </div>
                <button type="submit" class="btn btn-primary pull-right">Verzenden</button>
            </form>
        </div>
    </body>
</html>