<section id="contact">
            <div class="container-fluid">
                <div class="row">
                    <div id="map"></div>
                </div>
                <div class="row">
                    <div class="col-md-3 text-muted">
                       
                    </div>
                    <div class="col-md-2">
                        <h3>Joe Cycles</h3>
                        Biezeput 58<br/>
                        Buizingen<br/>
                        0473/384 947<br/>
                        joe-cycles@telenet.be
                    </div>
                    <div class="col-md-2">
                        <h3>Openingsuren</h3>
                        <h4 class="text-primary">Open na 18u</h4>
                        <table class="centered-table">
                            <colgroup>
                                <col class="weekday" span="1">
                                <col class="openinghours" span="2">
                            </colgroup>
                            <tbody>
                                <tr>
                                    <td scope="row">
                                        Maandag					</td>
                                    <td>
                                        16.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Dinsdag					</td>
                                    <td>
                                        16.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Woensdag					</td>
                                    <td>
                                        16.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Donderdag					</td>
                                    <td>
                                       16.00 tot 20.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Vrijdag					</td>
                                    <td>
                                        Gesloten
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Zaterdag					</td>
                                    <td>
                                        16.00 tot 18.00 uur
                                    </td>
                                </tr>
                                <tr>
                                    <td scope="row">
                                        Zondag					</td>
                                    <td>
                                        Gesloten
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-3">
                        <h3>Bekijk ook onze facebook pagina</h3>
                        <i class="fa fa-3x icon-facebook wow bounceIn text-joecycles" data-wow-delay=".1s"></i>
                        <h3>Stel je vraag</h3>
                        <a href="/stuur-een-mail">via mail</a>
                    </div>
                    <div class="col-md-2 text-muted">
                        
                    </div>
                </div>
                <hr/>
                <div class="row">
                    <div class="col-lg-12 copyright text-center">
                        2016 &copy; Joe cycles. All rights reserved.
                    </div>
                </div>
            </div>
        </section>