<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Cycle shop">
    <meta name="author" content="Kris Bulté">
    <title>Joe cycles</title>
    
    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.min.css" />
    <!-- endbower -->
    
    <link rel="stylesheet" href="/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/lib/wow/css/libs/animate.css" type="text/css">
    
    <!-- inject:css -->
    <link rel="stylesheet" href="/css/icomoonstyle.css">
    <link rel="stylesheet" href="/css/style.css">
    <!-- endinject -->
    
    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/wow/dist/wow.js"></script>
    <script src="/lib/jquery.easing/js/jquery.easing.js"></script>
    <!-- endbower -->
    
</head>